@import '../../styles/font.scss';
@import '../../styles/colors.scss';

.landing {
	max-width: 1400px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 3rem;
	margin: 0 auto;
	padding: 1rem;
}
