@import '../../styles/font.scss';
@import '../../styles/colors.scss';

.articles {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 1rem;
	padding: 1rem;
	color: $color-white;
	font-family: $font-main;
	font-size: $font-size-big;

	&__new-article-btn {
		text-decoration: none;
		color: $color-gray-900;
		font-family: $font-main;
		font-size: $font-size-small;
	}
}
