@import '../../styles/font.scss';
@import '../../styles/colors.scss';

.article {
	display: flex;
	flex-direction: column;
	color: $color-gray-800;
	font-weight: 400;

	&__read-more-btn {
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 0.5rem;
		text-decoration: none;
		color: $color-gray-800;
	}
}
