@import '../../styles/colors.scss';

.form {
	max-width: 600px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	row-gap: 0.5rem;

	@media (min-width: 600px) {
		margin: 5rem auto;
	}
}

.spinner {
	display: 'flex';
	justify-content: 'center';
}
